{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Recommend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <strong>{{ order_product.product.name }} </strong>
        </ul>

        <a href="#" class="btn btn-success">추천상품보기</a>
    </div>
</nav>
{% endblock %}

{% block content %}
<img src="{{ order_product.product.image.url }}" class="rounded"width="300" height="300" style="display:block; margin-left: auto; margin-right: auto;">
<div style="text-align:center;">
    상품명 : {{ order_product.product.name }}<br/>
    가격 : {{ order_product.product.price }}<br/>
    구입날짜 : {{ order_product.order.created }}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.rate }}
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
</div>

{% if messages %}
{% for message in messages %}
<script>
    alert('{{ message }}');
</script>
{% endfor %}
{% endif %}

{% endblock %}