{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Recommend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <strong>전체추천상품</strong>
        </ul>
        <a href="{% url 'recommend:personal_products' %}" class="btn btn-success">개인추천상품</a>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="card-columns">
{% for contact in page_obj %}
    <div class="card border-primary mb-3" style="min-width: 20rem; text-align:center;">
        <div class="card-header"><a href="{{ contact.category.get_absolute_url }}">{{ contact }}</a></div>
        <div class="card-body"><a href="{{ contact.get_absolute_url }}">
            <h4 class="card-title">{{ contact }}</h4>
            <img src="{{ contact.image.url }}" width="200" height="200"><br/>
            <p class="card-text">
                가격 : {{ contact.price }} <br/>
                수량 : {{ contact.amount }} <br/>
            </p>
        </a></div>
    </div>
{% endfor %}
</div>

<div>
    <ul class="pagination pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        {% for page in paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        <li class="page-item">
            <a class="page-link" href="?page={{ paginator.num_pages }}">&raquo;</a>
        </li>
    </ul>
</div>

{% if messages %}
{% for message in messages %}
<script>
    alert('{{ message }}');
</script>
{% endfor %}
{% endif %}
{% endblock%}