<!DOCTYPE html>
<head>
    <title>{% block title %}ANCHOVY MART{% endblock %}</title>

    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
{% block account %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">ACHOVYMART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}">장바구니<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'order:order_check' %}">결제 확인</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="navbar-brand">{{ user }}님 안녕하세요.</div>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:logout' %}">로그아웃</a>
        {% else %}
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:login' %}">로그인</a>
            <strong>/</strong>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:register' %}">회원가입</a>
        {% endif %}

    </div>
</nav>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ALL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category }}<span class="sr-only">(current)</span></a>
            </li>
            {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'shop:search' %}" method="GET">
            <input class="form-control mr-sm-0" type="text" placeholder="Search Product" name="search_word">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}

</body>
</html>